*{
  margin: 0 ;
  
  
}

html, body {
  font-family: "Open Sans", sans-serif;
}

h1, h2,h3{
  margin-bottom: 20px ;
}

a{
  color: #222;
  text-decoration: none;
}

/*Header*/ 

.header{
  background: black;
  overflow: auto;
  line-height: 1.7rem;
}

.header nav h1{
  float: left;
  padding: 20px;
  margin-bottom: 0;
}

.header nav h1 a {
  color: whitesmoke;
}

.header nav ul {float: right; 
  list-style:none ;
}

.header nav ul li {
  float: left ; 
} 

.header nav ul li a {
  color: whitesmoke; 
  padding : 20px; 
  
}