*{
  margin: 0 ;
  
  
}

html, body {
  font-family: "Open Sans", sans-serif;
}

h1, h2,h3{
  margin-bottom: 20px ;
}

a{
  color: #222;
  text-decoration: none;
}

/*Header*/ 

.header{
  background: black;
}